$minWidth: 450px;
$borderColor: #333;
$baseTextColor: #666;
$emptyDayColor: #eee;

body {
  margin-top: 20px;
  font-family: Catamaran;
  text-align: center;
  min-width: $minWidth;
  color: $baseTextColor;
}

@mixin styling($dayContainerDim, $calendarDim, $circleDim, $circleSpace) {
  #calendar {
    display: grid;
    justify-content: center;
    grid-template: repeat(5, $dayContainerDim) / repeat(7, $dayContainerDim);
  }
  
  .dayContainer {
    position: relative;
    outline: 1px solid $borderColor;
    margin-top: 1px;
    margin-left: 1px;
    display: grid;
    grid-template: 50% 50% / 50% 50%;
  }
  
  .square:nth-child(1) {border-bottom: 1px solid $borderColor; border-right:  1px solid $borderColor;}
  .square:nth-child(2) {border-bottom: 1px solid $borderColor;}
  .square:nth-child(3) {border-right:  1px solid $borderColor;}
  
  .dayContainer .circle {
    position: absolute;
    background: white;
    border-radius: 50%;
    border: 1px solid $borderColor;
    z-index: 0;
    width: $circleDim;
    height: $circleDim;
    top: $circleDim + $circleSpace;
    left: $circleDim + $circleSpace;
  }
  .dayContainer .circle .day {
    font-size: $circleDim/2;
    text-align: center;
    line-height: $circleDim;
    cursor: default;
    user-select: none;
  }
  
  #daysLabels {
    width: $calendarDim;
    margin: 0 auto;
    font-size: $circleDim/2;
  }
  
  #daysLabels span {
    width: $dayContainerDim;
    display: inline-block;
  }

  #month {
    // width: $calendarDim;
    margin: 0 auto;
    display: inline;

    div {
      display: inline;
      cursor: pointer;
    }
  }
  
  #monthLabel {
    margin: 0;
    cursor: default;
    text-shadow: 2px 2px 2px #ccc;
    display: inline;
    padding: 0 1em;
    user-select: none;
  }

  #info {
    width: $calendarDim;
    margin: 0 auto;
  }

  #taskLabels {
    width: $calendarDim - $dayContainerDim;
    text-align: left;
    list-style: none;
    padding: 0;
    float: left;
    
  }
  #taskLabels > li {
    font-size: $circleDim/2;
    min-width: 230px;
  }
  
  #taskLabels > li input[type="color"] {
    width: 1.5vw;
    height: 1.5vw;
    display: inline-block;
    margin-right: 1vw;
    position: relative;
    top: .45vw;
    border: 1px solid $borderColor;
    cursor: pointer;
  }
  #taskLabels > li input {
    border: none;
    border-bottom: 1px solid $borderColor;
    padding: 5px;
    padding-bottom: 0;
    outline: none;
    width: 70%;
    color: $baseTextColor;
  } 

  #taskExample {
    width: $dayContainerDim;
    height: $dayContainerDim;
    position: relative;
    top: 50px;
    cursor: pointer;
  }
  
  .emptyDay {
    background: $emptyDayColor;
  }

  #about {
    a {
      display: inline-block;
      height: 2.5em;
    }
    a img { 
      height: 1.5em;
    }

    .mySocial {
      position: absolute;
      top: 25px;
      left: 25px;
    }
    .seanSocial {
      position: absolute;
      bottom: 0px;
      left: 25px;
      min-width: $minWidth + 20;
      a {height: auto;}
      a img {
        border-radius: 50%;
        position: relative;
        top: 5px;
      }
    }
  }
  .hidden {
    visibility: hidden;
  }

  input::-webkit-color-swatch {
    border: none;
  }

}

@media screen and (max-width: 900px) {
  @include styling(
    $dayContainerDim: 54px,
    $calendarDim: 54px * 7,
    $circleDim: 20px,
    $circleSpace: -5px
  );
}

// @media screen and (min-width: 900px) and (max-width: 1050px) {
//   @include styling(
//     $dayContainerDim: 7vw,
//     $calendarDim: 7vw * 7,
//     $circleDim: 2vw,
//     $circleSpace: 0.25vw
//   );
// }

@media screen and (min-width: 900px) {
  @include styling(
    $dayContainerDim: 5vw,
    $calendarDim: 5vw * 7,
    $circleDim: 1.5vw,
    $circleSpace: 0.25vw
  );
}