$dayContainerDim: 104px;
$calendarDim: $dayContainerDim * 7;
$squareDim: 50px;
$circleDim: 35px;
$genericPadding: 10px;

body {
  font-family: Catamaran;
  text-align: center;
}

#calendar {
    display: inline-block;
    width: $calendarDim;
    text-align: left;
}

.dayContainer {
  width: $dayContainerDim;
  margin: 0;
  font-size: 0;
  position: relative;
  display: inline-block;
}
.dayContainer .square {
  height: $squareDim;
  width: $squareDim;
  border: 1px solid #333;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.dayContainer .circle {
  position: absolute;
  width: $circleDim;
  height: $circleDim;
  background: white;
  border-radius: 50%;
  top: 35px;
  left: 35px;
  border: 1px solid;
  z-index: 0;
}
.dayContainer .circle .day {
  font-size: 16px;
  text-align: center;
  line-height: $circleDim;
}

#daysLabels {
  width: $calendarDim;
  margin: 0 auto;
  padding: $genericPadding;
}

#daysLabels span {
  width: $dayContainerDim;
  display: inline-block;
}